.text{
    text-align: center;
    background-color: #eddd5e;
    height: 260px;
    padding-top: 40px;
}
.ltext{
    margin: 40px;
    margin-left: 100px;
}
/*service-page-start*/
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    width: 100%;
  }
  
  .text1 {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
/* service-page-end*/
/*clint*/
.img-fluid{
    border-radius: 50px;
}
.button {
    display: inline-block;
    border-radius: 50px;
    border: none;
    text-align: center;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: 40px;
  }
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }